*.pyc
.idea
*.properties
tests/Framework.py
venv*
GithubCredentials.py
.coverage
htmlcov
/tests/ReplayData/TestProcessPr.test_mark_rejected.txt
/tests/ReplayData/TestProcessPr.test_mark_passed.txt
/tests/*.log
