<!doctype html>
<html>
	<head>
	<meta charset="utf-8" />
	<title>Merged Pull Requests</title>

	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

	</head>
	<body>
		<script type='text/javascript' src="https://code.jquery.com/jquery-2.1.0.js"></script>
		<script type='text/javascript' src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	

	<div class="container">
		<div class="span3"></div>
		<div class="col-md-10"  id="results"></div>
		</div>
		<div class="span3">
		</div>

	<script>
        
	$(document).ready(function () {
		
		enable_tabs = function(){

			   //Enable tabbable tabs  
                        $('#myTab a').click(function (e) {
                                  e.preventDefault()
                                  console.log(this)
                                  $(this).tab('show')
                         })
        
                        // Javascript to enable link to tab
                        var url = document.location.toString();
                        if (url.match('#')) {
                                $('#myTab a[href=#'+url.split('#')[1]+']').tab('show') ;
                        }

                        // Change hash for page-reload
                        $('myTab a').on('shown', function (e) {
                                window.location.hash = e.target.hash;
                        })

		}

		write_pr = function(pr,pr_list_group){
			//console.log(pr)
			
			var list_item = $('<li class="list-group-item"></li>')
			var item_link_text = "#".concat(pr.number)
			var pr_description = " from ".concat(pr.author_login,": ", pr.title)
			
			var pr_link_address = pr.url
			var pr_link = $("<a></a>").attr("href", pr_link_address)
			pr_link.append($("<span></span>").text(item_link_text))
			list_item.append(pr_link)
			
			list_item.append($("<span></span>").text(pr_description))

			pr_list_group.append(list_item)

		}
		add_qa_link_to_row = function(row, arch,release_name){
			var result_cell = $('<td></td>')
			var url = 'http://cmssdt.cern.ch/SDT/cgi-bin//newQA.py?arch='+arch+'&release='+release_name
			var r_link = $("<a></a>").attr("href", url)
			r_link.append($("<span></span>").text('See Results'))
			result_cell.append(r_link)
			row.append(result_cell)
		}
	
		add_tests_to_row = function(tests,row,arch,type){
			// just add a blank cell if tere are no results for that kind of tests
			if (tests.length == 0){
				var result_cell = $('<td></td>')
				row.append(result_cell)
				return
			}
				
			var result = null
                        var file = null
                        var result_cell = $('<td></td>')

                        for(var i = 0; i<tests.length; i++){

	                	if (tests[i].arch == arch){
        	        		result = tests[i].passed
                	        	file = tests[i].file
                        		break
                        	}                       
                        }
			//just add a blank cell if I didn't find any results for that arch
			if (result == null || file == null){
				var result_cell = $('<td></td>')
                                row.append(result_cell)
				return
			}

			console.log(result)
			console.log(file)
                        var res_label = $('<span></span>')
                        var r_class = result? "label label-success" : "label label-danger"
                        res_label.attr("class", r_class)
                        res_label.text('See Details')
                        var link_parts = file.split('/')
			
                        var details_link = ""

			if (type == 'utests'){
				details_link="https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/" + link_parts[6] + '/'
                                                                +link_parts[7]+'/'+link_parts[8]+'/'+link_parts[9]
                                                                +'/'+link_parts[10]

			}else if(type == 'relvals'){
				details_link="https://cmssdt.cern.ch/SDT/cgi-bin//showMatrixTestLogs.py/" + link_parts[6] + '/'
                                                                +link_parts[7]+'/'+link_parts[8]+'/'+link_parts[9]+'/'+link_parts[10]
                                                                +'/'+link_parts[11]+'/'+link_parts[12]
			}else if(type == 'addons'){
				details_link = "https://cmssdt.cern.ch/SDT/cgi-bin//showAddOnLogs.py/" + link_parts[6] + '/'
                                                                +link_parts[7]+'/'+link_parts[8]+'/'+link_parts[9]+'/'+link_parts[10]
								+'/'+'addOnTests'+'/'

			}

                        var r_link = $("<a></a>").attr("href", details_link)
                        r_link.append(res_label)
                        result_cell.append(r_link)

                        row.append(result_cell)
			

		}

		add_static_analyzer_link = function (title_cell,url){
			if (url != ''){
				var sa_link = $("<a></a>").attr("href", url)
				sa_link.append($('<span class="glyphicon glyphicon-eye-open"></span>'))
				sa_link.append($('<span></span>').text('Static Analyzer'))
				title_cell.append(sa_link)
			}
		}

		write_comp_title =  function(comparison , tab_pane){
		
			var current_tag = comparison.compared_tags.split("-->")[1]

                        var title_compared_tags = $("<h3><b></b></h3>").text(current_tag)
                        
                        title_compared_tags.append($("<br>"))
                        title_compared_tags.append($("<br>"))
                        
                        var title_table = $('<table class="table table-condensed"></table>')

                        var title_cell = $('<td></td>').append(title_compared_tags)
                        //here I check the result of the relvals

			add_static_analyzer_link(title_cell,comparison.static_checks)

			var title_row = $('<tr></tr>')	
                        var relvals_results = comparison.relvals
			var uTests_results = comparison.utests
			var addons_results = comparison.addons
			var architectures = comparison.tests_archs
                        
			title_cell.attr("rowspan",architectures.length+1)

                        console.log('*************')
                        console.log(comparison.compared_tags)
                        console.log(relvals_results)
			console.log(uTests_results)
			console.log(architectures)
                        
                        title_row.append(title_cell)
                        title_table.append(title_row)

                        if (architectures.length != 0 ){

				var archs_title = $('<th></th>').text('Architectures')
				title_row.append(archs_title)
				var utests_title = $('<th></th>').text('Unit Tests')
				title_row.append(utests_title)
				var rvs_title = $('<th></th>').text('RelVals')
                                title_row.append(rvs_title)
				var addons_title = $('<th></th>').text('Other Tests')
                                title_row.append(addons_title)
				var qa_title = $('<th></th>').text('Q/A')
                                title_row.append(qa_title)

                                for( var i = 0; i < architectures.length; i++){
                                        var ar_row = $('<tr></tr>')
                                        var ar_cell = $('<td></td>')
					ar_cell.text(architectures[i])
                                        ar_row.append(ar_cell)
					add_tests_to_row(uTests_results,ar_row,architectures[i],'utests')
					add_tests_to_row(relvals_results,ar_row,architectures[i],'relvals')
					add_tests_to_row(addons_results,ar_row,architectures[i],'addons')
					add_qa_link_to_row(ar_row,architectures[i],current_tag)
                                        title_table.append(ar_row)
                                }
                        }

			tab_pane.append(title_table)
                        


		}

		write_comparison = function(comparison,tab_pane){
			
			
			var comp_tags = comparison.compared_tags
			current_tag = comp_tags.split("-->")[1]
			var prev_tag = comp_tags.split("-->")[0]

			write_comp_title(comparison,tab_pane)
			


			var comp_link_address = comparison.compared_tags.replace("-->","...")
                        comp_link_address = "https://github.com/cms-sw/cmssw/compare/".concat(comp_link_address)
                        var comp_link = $("<a></a>").attr("href", comp_link_address)
                        comp_link.append($("<span></span>").text("See comparison with "+prev_tag+" on GitHub"))
                        
                        var see_on_github = $("<small></small>").append(comp_link)
                        
                        tab_pane.append(see_on_github)

			var pull_requests = comparison.merged_prs			
			
			var pr_list_group = $('<ul class="list-group"></ul>')
		
			// if there were not merged prs in this comparison I alert it
                        if(comparison.merged_prs.length!=0){
	
				//write the info for each pull request
				for(var i =0; i < pull_requests.length; i++){
					write_pr(pull_requests[i],pr_list_group)
                       		 }
			
				tab_pane.append(pr_list_group)
			}else{
				var no_prs_found = $('<div class="alert alert-warning"></div>')
				no_prs_found.text('No new pull requests since previous tag')
				tab_pane.append(no_prs_found)
			}
		}
		
		f = function(data){
                       	// create tab panel
			var tabs = $('<ul id="myTab" class="nav nav-tabs"></ul>')
			
			//create nav tabs
			for(var i = 0; i < data.length; i++) {
                                
                                var release_queue = data[i];
				 //add tab 
                                var tab_title = $('<li><a href="#'+release_queue.release_name+'" data-toggle="tab">'+release_queue.release_name+'</a></li>')
                                tabs.append(tab_title)


			}
			$("#results").append(tabs)
			
			// create tab panes
			var tabs_content = $('<div class="tab-content"></div>')
			tabs_content.attr("id","tabs_container")
		
			for(var i = 0; i < data.length; i++) {
			
				var release_queue = data[i];
				//the first one is active
				if (i==0){
					var tab_pane = $('<div class="tab-pane active" id="'+release_queue.release_name+'"></div>')
				}else{
					var tab_pane = $('<div class="tab-pane" id="'+release_queue.release_name+'"></div>')
				}
				
    				console.log(release_queue.release_name);
				console.log("---")
				// write the titles for the release queue
				var title_rel_name=$("<h1></h1>").text(release_queue.release_name)
				tab_pane.append(title_rel_name)
				tab_pane.append($("<hr>"))
				tab_pane.append($("<br>"))
				var comparisons = release_queue.comparisons
				//console.log(comparisons)

				// write the comparisons for the release queue
				for(var j =comparisons.length-1; j >= 0; j--){
					write_comparison(comparisons[j],tab_pane)
				}

				tabs_content.append(tab_pane)

			}

			 $("#results").append(tabs_content)
		
			enable_tabs() 
		
	
                }
	

  		$.getJSON( "merged_prs_summary.json", f)



	})	
	
	</script>
	</body>
</html>
