<!doctype html>
<html>
	<head>
	<meta charset="utf-8" />
	<title>CMSSW Integration Builds</title>

	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

	</head>
	<body>
		<script type='text/javascript' src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type='text/javascript' src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type='text/javascript' src="js/render.min.js"></script>
	

	<div class="container">
		<div class="span3"></div>
		<div class="col-md-10"  id="results"></div>
		</div>
		<div class="span3">
		</div>

	<script>
        
	$(document).ready(function () {
		
		enable_tabs = function(){

			   //Enable tabbable tabs  
                        $('#myTab a').click(function (e) {
                                  e.preventDefault()
				  console.log('tabs')
                         })

        
                        // Javascript to enable link to tab
                        var url = document.location.toString();
                        if (url.match('#')) {
                                var hash = url.split('#')[1] 
                                var release_name = hash.substring( 0 , hash.lastIndexOf( '_' ) )
				var lastChar = release_name.charAt( release_name.length - 1 )

				// the url is asking for an IB
				if ( lastChar == 'X' || lastChar == 'C' ){
					$('#myTab a[href=#' + release_name + ']').tab('show')
				
				}else {
					$('#myTab a[href=#' + hash + ']').tab('show') ;
				}

                        }

                        // Change hash for page-reload
                        $('myTab a').on('shown', function (e) {
                                window.location.hash = e.target.hash;
                        })

		}


		
		paintMenu = function (structure){
			console.log("painting menu bar")
			menuBar = getMenuBar(structure)
			$("#PrevVersionWarning").after(menuBar)

		}

		// Reads the file structre.json to know how to paint the menu and how to paint the tabs.
                start_load = function(structure){

			paintMenu(structure)

			// create tab panel
                        var tabs = $('<ul id="myTab" class="nav nav-tabs hidden"></ul>')

			//create nav tabs
			var all_releases = structure.all_release_queues


			for(var i = 0; i < all_releases.length; i++){

				var release_name = all_releases[i];
                                 //add tab 
                                var tab_title = $('<li><a href="#'+release_name+'" data-toggle="tab">'+release_name+'</a></li>')
                                tabs.append(tab_title)

			}

			$("#results").append(tabs)

			//create tab panes
			var tabs_content = $('<div class="tab-content"></div>')
                        tabs_content.attr("id","tabs_container")
			for(var i = 0; i < all_releases.length; i++){

				var release_name = all_releases[i];

			 	//by default, the first one is the one which starts as active
                        	if ( i == 0 ){
					var tab_pane = $('<div class="tab-pane active" id="'+release_name+'"></div>')
                                        
                                        // add the link for the performance summary
                                        var ps_link = $("<a>").attr("href", "https://cmssdt.cern.ch/SDT/jenkins-artifacts/performance/summary/performanceSummaryOut.html" )
                                        var lbl_link = $('<span class="glyphicon glyphicon-stats">')
                                        ps_link.append(lbl_link)
                                        ps_link.append($('<span>').text('  Historical Performance Plots'))
                                        tab_pane.append(ps_link)

                        	}else{
                                	var tab_pane = $('<div class="tab-pane" id="'+release_name+'">')
                        	}

				// write the titles for the release queue
                        	var title_rel_name=$("<h1>").text(release_name)
                        	tab_pane.append(title_rel_name)
                        	tab_pane.append($("<hr>"))
                        	tab_pane.append($("<br>"))
                        


				
				// write the comparisons for the release queue, here I read a json file per release queue
				var compFileName = "data/" + release_name + ".json"
				
                                console.log( compFileName )
				$.getJSON( compFileName, paintComparisons )


				tabs_content.append(tab_pane)
			}

			$("#results").append(tabs_content)
                
                        enable_tabs() 

                }


  		$.getJSON( "data/structure.json", start_load)

	})	
	
	</script>
	</body>
</html>
