name: test-changes 
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '2.7.17', '3.6.15' ]
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyYaml
      - name: Checking python version
        run: python -c "import sys; print(sys.version)"
      - name: Compiling all python files
        run: python -m compileall $(ls | grep -v v_scheduler | grep -v venv)
      - name: Test importing CMSSW_L2/L1
        run: python -c 'from categories import CMSSW_L2,CMSSW_L1'
      - name: Checking watchers
        run: PYTHONPATH=. python tests/test_watchers.py
      - name: Checking config map
        run: PYTHONPATH=. python tests/test_config-map.py
